senegal.dtd

<!ELEMENT senegal (nombre, poblacion, continente, capital, fotografias)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT poblacion (#PCDATA)>
<!ELEMENT continente (#PCDATA)>
<!ELEMENT capital (nombre, coordenadas)>
<!ELEMENT coordenadas (latitud, longitud)>
<!ELEMENT latitud (#PCDATA)>
<!ELEMENT longitud (#PCDATA)>
<!ELEMENT fotografias (fotografia+)>
<!ELEMENT fotografia (nombre, descripcion, url)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT url (#PCDATA)>